workflows/n8n/outbound_time_update.json
{
  "name": "Outbound Time Update (FIS -> External) - FIXED",
  "nodes": [
    {
      "id": "Webhook_From_FIS",
      "name": "FIS Time Update Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [280, 180],
      "parameters": {
        "path": "time-update",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {
          "rawBody": false
        }
      }
    },
    {
      "id": "Set_CID",
      "name": "Set Correlation ID & Retry Count",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [520, 180],
      "parameters": {
        "functionCode": "const hdr = $json.headers || {};\nlet cid = hdr['x-correlation-id'] || hdr['X-Correlation-ID'];\nif (!cid) cid = $uuid();\n\n// Initialize retry count\nconst retryCount = ($json.retry_count || 0) + 1;\n\nreturn [{ json: { correlation_id: cid, retry_count: retryCount, payload: $json.body || $json } }];"
      }
    },
    {
      "id": "Map_To_External",
      "name": "Map To External",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [760, 180],
      "parameters": {
        "functionCode": "const p = $json.payload;\n// Use original payload data for mapping\nreturn [{ json: {\n  flightId: p.flight_id || p.id,\n  type: p.time_type,\n  newTime: p.new_time || p.newTime,\n  correlationId: $json.correlation_id,\n  retry_count: $json.retry_count\n}}];"
      }
    },
    {
      "id": "HTTP_External",
      "name": "POST External Time Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 180],
      "parameters": {
        "url": "={{ $env.EXTERNAL_TIME_UPDATE_URL }}",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "sendBody": true,
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "headerParametersJson": "={\n  \"X-Correlation-ID\": $json.correlationId\n}"
      }
    },
    {
      "id": "Check_HTTP_Success",
      "name": "Check HTTP Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1240, 180],
      "parameters": {
        "conditions": {
          "number": [
            { 
              "value1": "={{$json[\"statusCode\"] || $json.statusCode}}", 
              "operation": "less", 
              "value2": 300 
            }
          ]
        }
      }
    },
    {
      "id": "Retry_Loop",
      "name": "Retry Logic",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1480, 260],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.retry_count}}",
              "operation": "less",
              "value2": 4
            }
          ]
        }
      }
    },
    {
      "id": "Wait_Backoff",
      "name": "Wait + Backoff",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1720, 260],
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      }
    },
    {
      "id": "Respond_Success",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1480, 100],
      "parameters": {
        "responseBody": "={ ok: true, correlation_id: $json.correlationId, retries: $json.retry_count - 1 }",
        "responseCode": 200
      }
    },
    {
      "id": "Respond_500",
      "name": "Respond 500 (Fatal Failure)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1720, 420],
      "parameters": {
        "responseBody": "={ ok: false, correlation_id: $json.correlationId, error: 'External update failed after multiple retries.', last_status: $json.statusCode }",
        "responseCode": 500
      }
    }
  ],
  "connections": {
    "Webhook_From_FIS": {
      "main": [
        [ { "node": "Set Correlation ID & Retry Count", "type": "main", "index": 0 } ]
      ]
    },
    "Set Correlation ID & Retry Count": {
      "main": [
        [ { "node": "Map To External", "type": "main", "index": 0 } ]
      ]
    },
    "Map To External": {
      "main": [
        [ { "node": "POST External Time Update", "type": "main", "index": 0 } ]
      ]
    },
    "POST External Time Update": {
      "main": [
        [ { "node": "Check HTTP Success", "type": "main", "index": 0 } ]
      ]
    },
    "Check HTTP Success": {
      "main": [
        [ { "node": "Respond 200", "type": "main", "index": 0 } ],
        [ { "node": "Retry Logic", "type": "main", "index": 0 } ]
      ]
    },
    "Retry Logic": {
      "main": [
        [ { "node": "Wait + Backoff", "type": "main", "index": 0 } ],
        [ { "node": "Respond 500 (Fatal Failure)", "type": "main", "index": 1 } ]
      ]
    },
    "Wait + Backoff": {
      "main": [
        [ { "node": "Set Correlation ID & Retry Count", "type": "main", "index": 0 } ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "versionId": "outbound-time-update-v1-fixed"
}